/* Write your CSS here */
.button {
  width: 98px;
  height: 35px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 1px;
  padding-bottom: 0px;
  color: black;
  background-color: #ffffff;
  border-radius: 10px;
  cursor: pointer;

  font-family: 'Bree Serif';
}
button:hover {
  background-color: aqua;
}
.container {
  background-color: #1e293b;
  font-family: 'Bree Serif';
  background-size: cover;
  width: 60vw;
  height: 100vh;
  text-align: center;
  padding: 50px;
}
.heading {
  color: #f0bb03;
  font-size: 50px;
  padding: 10px;
}
p {
  font-size: 40px;
  color: white;
}
